body {
	margin:0;
	font-family: helvetica, arial, sans-serif;
	line-height: 1.5em;
}
#header {
	font-size: 2.0em;
	font-weight: bold;
}
.biline {
	font-weight:bold;
}
#legend {
	margin:0.5em;
}
.author {
	font-size: 0.8em;
}
